body {
    background-color: grey;
}
h1 {
    font-color: black;
    font-family: Verdana;
    font-weight: bold;
    font-size: 170px;
    text-align: center;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 0px;
    top: -200px;
    padding: 85px;
    z-index: 20;
}
#question {
    color: blue;
    font-family: cursive;
    font-size: 20px;
    position: absolute, center;
}
#output {
    font-color: black;
    font-family: Verdana;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 160px;
    top: 246px;
    padding: 85px;
    z-index: 2;
}

#outtercircle {
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: black;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;
}

#innercircle {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background-color: white;
    position: absolute;
    left: 246px;
    top: 246px;
    z-index: 0;
}

#form {
    font-family: Verdana;
    font-weight: bold;
    z-index: 1;
    padding: 15px 15px 15px 15px;
}

#form input[type="text"] {
    font-family: Verdana;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 24px;
    width: 62%;
    border-radius: 4px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: white;
}

#form label {
    width: 4em;
    font-size: 25px;
}

button {
    padding: 0px 15px;
    height: 36px;
    font-weight: bold;
    width: 4em;
    font-size: 25px;
    text-transform: uppercase;
    background-color: black;
    border-width: 0;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}